<ion-content>
  <ion-slides [options]="slideOptsOne">
    <ion-slide *ngFor="let s of slideImage">
      <img src="{{ s.img }}" alt="" />
    </ion-slide>
  </ion-slides>
  <ion-card-header>
    Validation commande
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="validationForm">
          <ion-item>
            <ion-input placeholder="votre nom" formControlName="nom"></ion-input>
          </ion-item>
          <ion-button expand="block" size="large" type="submit">Valider</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tabs >
  <ion-tab-bar slot="bottom" class="bg-image no-scroll">
    <ion-tab-button [routerLink]="['/home']" routerLinkActive="router-link-active">
      <ion-icon name="home"></ion-icon>
      <ion-label>Acceuille</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/commande']" routerLinkActive="router-link-active">
      <ion-icon src="../assets/icone/ic_shopping_cart_24px.svg"></ion-icon>
      <ion-label>Commande</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icone/ic_done_24px.svg"></ion-icon>
      <ion-label>Validation</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>